.sidepanel {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 340px;
    z-index: 3;
    top: 230px;
    left: 50px;

    &__devider {
        width: 3px;
        height: 70px;
        background-color: #fff;
    }

    &__textbox {
        display: block;
        color: #fff;
        height: 148px;
        width: 24px;
        margin-right: 0;
        &__text {
            width: 148px;
            height: 24px;
            font-weight: 700;
            font-size: 16px;
            color: #FFFFFF;
            transform: rotate(-90deg) translate(-50%, -260%);
        }
    }
}